# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files (keep out of Docker image!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Git
.git/
.gitignore

# Scripts and automation
.scripts/


# Docker
Dockerfile
docker-compose.yml
.dockerignore

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
coverage/
*.tsbuildinfo
